* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;

  background-color: rgb(255, 255, 255);
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}

.produto__info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.catalogo {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: solid 1px black;
}

.catalogo__img {
  width: 100%;
  padding: 10px;
  height: 250px;
  border-bottom: 1px solid black;
  object-fit: contain;
}

.catalogo__desc {
  padding: 8px;
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.produto__nomee {
  color: rgb(37, 37, 37);
  font-size: 1em;
  text-align: left;
}

.catalogo__button {
  height: 40px;
  border: none;
  background-color: white;
  font-size: 2em;
}

.catalogo__button:hover {
  cursor: pointer;
}

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.fechar {
  border: none;
  cursor: pointer;
  font-size: 2em;
  background-color: white;
}

.carrinho {
  margin: 20px;
  border-radius: 14px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  width: 500px;
  height: 500px;
  z-index: 1000;
  box-shadow: -4px 0 24px rgba(0, 0, 0, 0.1);
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.carrinho__top {
  padding-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: black;
  padding: 0px 30px;

}

.carrinho__total {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.carrinho__preco {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 30px;
}

.carrinho__prod {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 10px;
}

.carrinho__button {
  width: 90%;
  background-color: black;
  font-size: 1.4em;
  color: wheat;
  border: none;
  border-radius: 14px;
  padding: 10px;
  margin-bottom: 10px;
}

.carrinho__item {
  display: flex;
  width: 100%;
}

.item__img {
  width: 100px;
  object-fit: contain;
  height: 100px;
}

.item__info {
  display: flex;
  flex-direction: column;
  text-align: left;
}
